doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/public/source/css/baocaohocky.css ')
    link(rel='stylesheet' href='/public/source/fonts/fontawesome-free-6.2.0-web/css/all.css')
    link(rel='icon' type='image/x-icon' href='/public/source/img/favicon.png')
    link(rel='stylesheet' href='/public/source/css/style.css')
    script(src='/public/source/js/script.js')
    script(src='https://kit.fontawesome.com/7b85820244.js' crossorigin='anonymous')
    title CoCoEdu
  body
    - var role = role
    - var role_encode;
      if (role == 'Admin')
        - role_encode = "Administator"
      if (role == 'GiaoVien')
        - role_encode = "Giáo Viên"
      if (role == "HocSinh")
        - role_encode = "Học Sinh"

    .header
      .actions_user_hd
        #profile.profile_hd(onclick='menuhdToggle()')
          img(src='/public/source/img/user_none1.png' alt='image user')
        .menu_user_hd
          .profile_name #{user.HoTen}
            br
            span #{role_encode}
          ul
            li
              a(href='/user/profile/') Hồ Sơ
            li
              a(onclick="DangXuat()") Đăng Xuất
      form.search-bar
        input.searchTerm(type='text' placeholder='Tìm kiếm tại đây')
        button.searchButton(type='submit')
          i.fa-solid.fa-magnifying-glass
    // Tên app,logo app+
    // 
    // Mới sửa
    .sidebar
      .logo-details
        img(src='/public/source/img/preskool.png' alt='logo')
        a(href='/user/profile/')
          span.logo_name CoCoEdu
      // Mới sửa
      .nav_links
        .sidenav
          // Bảng điều khiển
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-border-all
              span.link_name Bảng điều khiển
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Bảng điều khiển
              if (role == 'Admin')
                .nbar-sub
                  a(href='/admin/Dashboard/') Administrator
              if (role == 'GiaoVien')
                .nbar-sub
                  a(href='/user/DashboardGiaoVien/') Giáo Viên
              if (role == 'HocSinh')
                .nbar-sub
                  a(href='/user/DashboardHocSinh/') Học Sinh
          // SInh viên
          if(role == 'Admin' || role == 'HocSinh')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-graduation-cap
                span.link_name Học Sinh
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Học Sinh
                  if (role == "HocSinh")
                    .nbar-sub
                      a(href='/user/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/DanhSachHocSinh') Danh Sách Học Sinh
                  if (role == "Admin")
                    .nbar-sub
                      a(href='/admin/ThemTaiKhoan') Thêm Học Sinh
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-book-open
                span.link_name Lớp
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Lớp
                
                if(role == 'GiaoVien')
                  .nbar-sub
                    a(href='/user/DanhSachLopHoc') Danh Sách Lớp
                if( role == 'Admin')
                  .nbar-sub
                    a(href='/admin/DanhSachLopHoc') Danh Sách Lớp
                  .nbar-sub
                    a(href='/admin/ThemLopHoc') Thêm Lớp
          // Giáo Viên
          if(role == 'Admin' || role == 'GiaoVien')
            div
              button.dropdown-btn
                i#icon_sn.fa-solid.fa-chalkboard-user
                span.link_name Giáo Viên
                i#drop.fas.fa-angle-right
              .dropdown-container
                a.link_name(href='#') Giáo Viên
                if (role =="GiaoVien")
                  .nbar-sub
                    a(href='/user/DanhSachGiaoVien') Danh Sách Giáo Viên
                if (role == "Admin")
                  .nbar-sub
                    a(href='/admin/DanhSachGiaoVien') Danh Sách Giáo Viên
                  .nbar-sub
                    a(href='/admin/ThemTaiKhoan') Thêm Giáo Viên
            // Bảng điểm
            
            if( role == "GiaoVien")
              div
                button.dropdown-btn
                  i#icon_sn.fa-regular.fa-calendar
                  span.link_name Bảng điểm
                  i#drop.fas.fa-angle-right
                .dropdown-container
                  a.link_name(href='#') Bảng điểm
                  .nbar-sub
                    a(href='#') Xem bảng điểm
                    // Mới sửa
                  .nbar-sub
                    a(href='/user/NhapDiem/TN101/') Nhập bảng điểm
                  // Mới sửa
                // Mới sửa
            
          div
            button.dropdown-btn
              i#icon_sn.fa-solid.fa-pen
              span.link_name Thông báo
              i#drop.fas.fa-angle-right
            .dropdown-container
              a.link_name(href='#') Thông báo
              .nbar-sub
                a(href='/user/XemThongBao') Xem Thông báo
              
              if (role == "Admin")
                .nbar-sub
                  a(href='/admin/DanhSachBaiDang') Danh Sách Thông báo
                .nbar-sub
                  a(href='/admin/ThemBaiDang') Tạo Thông báo
          // Quy Định
          if (role == "Admin")
            div
                button.dropdown-btn
                  i#icon_sn.fa-solid.fa-pen-ruler
                  span.link_name Quy Định
                  i#drop.fas.fa-angle-right
                .dropdown-container
                  a.link_name(href='#') Quy Định
                  .nbar-sub
                    a(href='/admin/QuyDinh') Chỉnh Sửa Quy Định
            // Báo Cáo
          if (role == "Admin" || role == "GiaoVien")
            div
                button.dropdown-btn
                  i#icon_sn.fa-solid.fa-file-invoice
                  span.link_name Báo Cáo
                  i#drop.fas.fa-angle-right
                .dropdown-container
                  a.link_name(href='#') Báo Cáo
                  .nbar-sub
                    a(href='#') Báo Cáo Tổng Kết Môn
                  .nbar-sub
                    a(href='#') Báo Cáo Tổng Kết Học Kỳ

                    
    section.home-section
      .home-content
        i.fa-solid.fa-bars
    .page-wrapper
      .content
        .page-header
          .page-header-title
            .page-header-student-title
              h3.page-title Báo Cáo Môn Học
        // Start: Search Bar
        .student-group-form
          .search-group
            .submit-form
              .submit-form-student.submit
                .form-group.local-form
                  select#HocKy.form-control-edit-btn(required='' onchange='LayThongTin()')
                    option(value='') Chọn học kỳ
                    option(value='1') Học kỳ 1
                    option(value='2') Học kỳ 2
              .submit-form-student.submit
                .form-group.local-form
                  select#NamHoc.form-control-edit-btn(required='' onchange='LayThongTin()')
                    option(value='') Chọn năm học
              .submit-form-student.submit
                .form-group.local-form
                  select#MonHoc.form-control-edit-btn(required='' onchange='LayThongTin()')
                    option(value='') Chọn môn học
            .search-student-btn
              .search-btn
                button.btn(type='button') Tìm Kiếm
        // End: Search Bar
        .subject-form
          .card
            .card-table
              .card-body
                .card-body_head
                  .card-body_header
                    .page-header-student-title
                      h3.page-title Học Kỳ - Môn Học
                .card-body_body
                  .Data-Table
                    .Data-Table-body
                      .Table-body
                        table.Table#mytable
                          thead.subject-thead
                            tr.thead(role='row')
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='STT')
                                | STT
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='Lop')
                                | Lớp
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='SiSo')
                                | Sĩ Số
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='SoLuongDat')
                                | Số Lượng Đạt
                              th.sorting(tabindex='0' rowspan='1' colspan='1' aria-label='TiLe')
                                | Tỉ Lệ
                          tbody.subject-tbody
                          //-   tr(role='row' class='odd')
                          //-     td 1
                          //-     td 12A1
                          //-     td 30
                          //-     td 20
                          //-     td 66.67%
                            
                    .Data-Table-footer
    script(src='/public/source/js/main.js')
    script(src='/public/source/js/edit-student.js ')
    script(src='/public/source/js/students.js ')

    script.
      async function LayThongTin() {
        //Disable button
        //- document.getElementById("GetData").disabled = true;
        //- document.getElementById("GetData").innerHTML = "Đang tải...";

        data = {
          HocKy: document.getElementById("HocKy").value,
          NamHoc: document.getElementById("NamHoc").value,
          MaMH: document.getElementById("MonHoc").value
        }
        
        let url = window.location.href;

        let response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
          json: true
        })

        let result = await response.json();

        console.log(result)

        //Enable button
        //- document.getElementById("GetData").disabled = false;
        //- document.getElementById("GetData").innerHTML = "Lấy thông tin";

        if(data.NamHoc == null || data.NamHoc == "") {
          let SelectNamHoc = document.getElementById("NamHoc");
          for (let i = 0; i < result.result.length; i++) {
            let option = document.createElement("option");
            option.text = `${result.result[i].Nam1} - ${result.result[i].Nam2}` ;
            option.value = result.result[i].Nam2;
            SelectNamHoc.add(option);
          }
          return false;
        }

        if(data.MaMH == null || data.MaMH == "") {
          let SelectMonHoc = document.getElementById("MonHoc");
          for (let i = 0; i < result.result.length; i++) {
            let option = document.createElement("option");
            option.text = result.result[i].TenMH;
            option.value = result.result[i].MaMH;
            SelectMonHoc.add(option);
          }
          return false;
        }

        let table = document.getElementsByClassName("Table")
        let tbody = document.getElementsByClassName("subject-tbody");

        for (let i = 0; i < result.result.length; i++) {
          let tr = document.createElement("tr");
          let td1 = document.createElement("td");
          let td2 = document.createElement("td");
          let td3 = document.createElement("td");
          let td4 = document.createElement("td");
          let td5 = document.createElement("td");

          td1.innerHTML = i + 1;
          td2.innerHTML = result.result[0][i].TenLop;
          td3.innerHTML = result.result[0][i].SiSo;
          td4.innerHTML = result.result[0][i].SoLuongDat;
          td5.innerHTML = result.result[0][i].SoLuongDat / result.result[0][i].SiSo * 100 + "%";

          tr.appendChild(td1);
          tr.appendChild(td2);
          tr.appendChild(td3);
          tr.appendChild(td4);
          tr.appendChild(td5);

          tbody[0].appendChild(tr);
        }
      }